<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomeWork</title>
    <style>
        body{
        background: url("https://as2.ftcdn.net/v2/jpg/01/11/87/49/1000_F_111874938_g5Qj1X8jsuG6h63EMypDvgLDrem2jxpF.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        }
        .content+{
        marine-top: 100px;
        }
        .pro+{
        marin-top: 300px;
        }
    </style>
</head>
<body>
{% block a %}
    This is base page
{% endblock %}
    <div class="content+">
        {% block b %}
            picture
        {% endblock %}
    </div>
    <div class="pro+">
    {% block c %}
        basic form
    {% endblock %}
    </div>


</body>
</html>